*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
     
}

.nav-content{
    font-size: 1.5rem;
    color: #3A3A3A;
    font-weight: 700;
}

.navbar .menu a{
    font-size: 1rem;
    color:#3A3A3A;
    text-decoration: none;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
}


.navbar{

    width: 85%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.navbar .menu ul{
    display: flex;
    gap: 34px;
    align-items: center;
    
}

.navbar .menu .logo1{
    width: 30px;
    height: 50px;
}


/* Style Banner Section */

#banner{
    /* border: 2px solid red; */
    width: 85%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.banner-content{
    max-width: 585px;
}

.banner-content h2{
    color: #3A3A3A;
    font-size: 3.25rem;
    line-height: 4.375rem;
    font-weight:700;
    margin-bottom: 16px;
}

.banner-content p{
    font-size: 1rem;
    color: #3A3A3A;
    font-weight: 600;
    margin-bottom: 16px;
}

.banner-content .btn1{
    background-color: #E02C6D;
    border: none;
    /* padding: 18px 35px; */
    border-radius: 41px;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
    height: 45px;
    text-align: center;
}

.btn1:hover{
    background-color: green;
}

#banner .banner-image{
    width: 440px;
    height: 415px;
}

#banner{
    background-image: url("../images/Circle\ design.svg");
    /* background-position: 23px 0px , top right; */
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-bottom: 70px;
}

/* Style visiting-site section */

#visiting-site .icon-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.icon-container{
    border-top: 2px solid rgba(128, 128, 128, 0.5);
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    padding: 36px;
}