*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
     
}

.nav-content{
    font-size: 1.5rem;
    color: #3A3A3A;
    font-weight: 700;
}

.navbar .menu a{
    font-size: 1rem;
    color:#3A3A3A;
    text-decoration: none;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
}


.navbar{

    width: 85%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.navbar .menu ul{
    display: flex;
    gap: 34px;
    align-items: center;
    
}

.navbar .menu .logo1{
    width: 30px;
    height: 50px;
}


/* Style Banner Section */

#banner{
    /* border: 2px solid red; */
    width: 85%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.banner-content{
    max-width: 585px;
}

.banner-content h2{
    color: #3A3A3A;
    font-size: 3.25rem;
    line-height: 4.375rem;
    font-weight:700;
    margin-bottom: 16px;
}

.banner-content p{
    font-size: 1rem;
    color: #3A3A3A;
    font-weight: 600;
    margin-bottom: 16px;
}

.banner-content .btn1{
    background-color: #E02C6D;
    border: none;
    /* padding: 18px 35px; */
    border-radius: 41px;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
    height: 45px;
    text-align: center;
}

.btn1:hover{
    background-color: green;
}

#banner .banner-image{
    width: 440px;
    height: 415px;
}

#banner{
    background-image: url("../images/Circle\ design.svg");
    /* background-position: 23px 0px , top right; */
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-bottom: 70px;
}

/* Style visiting-site section */

#visiting-site .icon-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 150px;
    align-items: center;
}

.icon-container{
    border-top: 2px solid rgba(128, 128, 128, 0.5);
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    padding: 36px;
}

/* Style Collection section */

#collection #collection-header{
    font-size: 2rem;
    line-height: 70px;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 50px;
}

.collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 65px;
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}


.collection-card{

    padding: 15px;
    /* border: 1px solid red; */
    max-width: 330px;
    box-shadow: 0 6px 50px #0000003c ;
    border-radius: 10px;
}

.collection-card img{
    width: 300px;
    height: 256px;
    border-radius: 10px;
    margin-bottom: 15px;

    /* max-width: 44px;
    margin-bottom: 30px; */
}

.collection-card h3{
    font-size: 1.75rem;
    color: #18191F;
    margin-bottom: 15px;
}

.collection-card .price{
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
}

.collection-card .about{
    font-size: 0.875rem;
    line-height: 143%;
    color: #787885;
    margin-bottom: 15px;
}

/* Style See-More */

.see-more{
    margin-top: 40px;
    max-width: 1280px;
    display: flex;
    justify-content: end;
}

.see-more a{
    font-size: 1.125rem;
    font-weight: 700;
    color: #E02C6D;
    text-decoration: none;
}

.see-more a:hover{
    color: green;
}

/* Style Feature Section */

#feature{
    display: flex;
    justify-content:space-evenly;
    width:100%;
    max-width: 1600px;
    margin: 0px auto;
    margin-top: 120px;
}

.feature-content{
    margin-top: 20px;
}

.feature-content h2{
    font-size: 2.375rem;
    color: #0A0826;
    line-height: 60px;
    font-weight: 700;
}

.feature-content p{
    font-size: 1rem;
    line-height: 28px;
    font-weight: 700;
    color: #6C6C6C;
    width: 500px;
    margin-top: 20px;
}

.feature-content .btn2{
    background-color: #E02C6D;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    width: 155px;
    height: 40px;
    text-align: center;
    margin-top: 15px;
}

.btn2:hover{
    background-color: green;
}

.footer-container{
    margin-top: 100px;
    width: 100%;
    max-width: 1600px;
    text-align: center;
    /* margin: 0px auto; */
    background-color: rgb(10, 8, 38);
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer-content h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    
}

.footer-content p{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 24px;
    color: #D9DBE1;
}

.footer-logo a{
    text-decoration: none;
}
.footer-logo li{
    list-style: none;
}

.footer-logo ul {
    margin-top: 10px;
    display: flex;
    justify-content:center;
    gap: 10px;
}