*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
     
}

.nav-content{
    font-size: 1.5rem;
    color: #3A3A3A;
    font-weight: 700;
}

.navbar .menu a{
    font-size: 1rem;
    color:#3A3A3A;
    text-decoration: none;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
}


.navbar{

    width: 85%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.navbar .menu ul{
    display: flex;
    gap: 34px;
    align-items: center;
    
}

.navbar .menu .logo1{
    width: 30px;
    height: 50px;
}


/* Style Banner Section */